[submodule "deps/lexy"]
	path = deps/lexy
	url = https://github.com/foonathan/lexy
	ignore = dirty
[submodule "scripts"]
	path = scripts
	url = https://github.com/OpenVicProject/scripts
[submodule "deps/dryad"]
	path = deps/dryad
	url = https://github.com/Spartan322/dryad
[submodule "deps/fmt"]
	path = deps/fmt
	url = https://github.com/fmtlib/fmt
	ignore = dirty
[submodule "deps/range-v3"]
	path = deps/range-v3
	url = https://github.com/spartan322/range-v3
	ignore = dirty
[submodule "tests/deps/snitch"]
	path = tests/deps/snitch
	url = https://github.com/snitch-org/snitch
	ignore = dirty
[submodule "deps/vmcontainer"]
	path = deps/vmcontainer
	url = https://github.com/spartan322/vmcontainer
